<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>/!\Puissant Scam/!\</title> <!--Titre de l'onglet du site-->
    <link rel="stylesheet" href="/static/style.css"> <!--Chemin d'accès au CSS-->
</head>
<body>
    <div class="matrix-bg"> <!--Contenu du background "matrix" (ce sont des "insultes" softs en indien pour respecter la DA du projet style "scam") ayez du 2nd degré svp-->
    <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
        <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
        <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
        <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
        <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
        <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
        <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
        <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
        <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
        <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
        <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
        <pre>
        गधा बेवकूफ ठग  चोर धोखेबाज़ हाहा அனன்யா உன்னை 
        ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        GADHA FRAUD LOL  HACKER INDIEN PUISSANT SCAM 
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        बेवकूफ मूर्ख लोल हाहा धन धन धन அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        SCAMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMஅனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!அனன்யா உன்னை ஏமாற்றுவாள்!!
        அனன்யா உன்னை ஏமாற்றுவாள்!!
        <img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;"><img src="/static/029492ff-ec9c-4ce1-9708-6d5db5ff69df.png" alt="Logo" style="width:100px;height:auto;">
        </pre>
    </div>
    <h1>         
        Puissant Scam <!--header 1 (Titre)-->
    </h1>
    <h3> <!--header 2 (annonce du gagnant)-->
    {{if eq .Winner 0}}
    <p>→ Joueur : <strong>{{.Player}}</strong></p>
    {{else}}
    <p class="winner">Le joueur <strong>{{.Winner}}</strong> a gagné ! <br>Ses données bancaires ont été leak avec succès !!!</p>
    {{end}}
    </h3>

    <!-- Boutons pour jouer dans chaque colonne -->
    <div class="cols">
        <!-- un formulaire par colonne (POST /play) -->
        <form action="/play" method="post"><input type="hidden" name="column" value="0"><button type="submit">↓</button></form>
        <form action="/play" method="post"><input type="hidden" name="column" value="1"><button type="submit">↓</button></form>
        <form action="/play" method="post"><input type="hidden" name="column" value="2"><button type="submit">↓</button></form>
        <form action="/play" method="post"><input type="hidden" name="column" value="3"><button type="submit">↓</button></form>
        <form action="/play" method="post"><input type="hidden" name="column" value="4"><button type="submit">↓</button></form>
        <form action="/play" method="post"><input type="hidden" name="column" value="5"><button type="submit">↓</button></form>
        <form action="/play" method="post"><input type="hidden" name="column" value="6"><button type="submit">↓</button></form>
    </div>
    <!--Variables de cellules avec l'effet de drop des jetons (d'où la création des variables LastRow + LastCol)-->
   <table class="board">
    {{range $i, $row := .Grid}}
    <tr>
        {{range $j, $cell := $row}}
        <td>
            {{if eq $cell "empty"}}
                <div class="cell"></div>
            {{else if eq $cell "red"}}
                {{if and (eq $i $.LastRow) (eq $j $.LastCol)}}
                    <div class="cell red drop"></div>
                {{else}}
                    <div class="cell red"></div>
                {{end}}
            {{else if eq $cell "yellow"}}
                {{if and (eq $i $.LastRow) (eq $j $.LastCol)}}
                    <div class="cell yellow drop"></div>
                {{else}}
                    <div class="cell yellow"></div>
                {{end}}
            {{end}}
        </td>
        {{end}}
    </tr>
    {{end}}
</table>

<!--contenu du bouton reset, et de la phrase drôle sous le bouton-->
    <div class="controls">
        <form action="/reset" method="post" style="display:inline;">
            <button type="submit">Reset</button>
        </form>
        <br>
        <span class="hint">Nos meilleurs scammeurs se chargeront de récolter vos données personnelles si vous gagnez la partie.</span>
    </div>
</body>
</html>
